footer {
    background-color: white;
    height: 60;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    align-items: center;
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: center;
    line-height: 60px;
}